{% extends 'base.html' %}

{% block title %} {{ question.name }} {% endblock %}

{% block content %}
        {% if allow_vote %}
            {% include 'questions/snippets/pool_form.html' with question=question %}
        {% else %}
            <h4>Results for "{{ question.name }}"</h4>
            {% for answer in question.answer_set.all %}
                <p>{{ answer.content }} | {{ answer.votes }}</p>
            {% endfor %}
        {% endif %}
        {% if request.user.id == question.author.id %}
          <a class="btn btn-primary" href="{% url 'questions:update' question.pk %}">Edit poll</a>
        {% endif %}

{% endblock %}
