{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{ question.title }} {% endblock %}

{% block content %}
          <div class="col-sm-5 offset-sm-5">
            <h4>{{ question.title }}</h4>
            {% if allow_vote %}
          </div>
          <div class="row">
            {% for answer in question.answer_set.all %}
            <div class="col-sm-3 offset-sm-1">
              <div class="card">
                {% if answer.picture %}
                <img class="card-img-top" src="{{answer.picture.url }}" alt="img">
                {% else %}
                <img class="card-img-top" src="{% static 'images/no_picture.png' %}" alt="img">
                {% endif %}
                <div class="card-block">
                  <h4 class="card-title">{{answer.title}}</h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Vote</a>
                </div>

              </div>
            </div>

            {% endfor %}
            {% else %}
                <h4>Results for "{{ form.instance.title }}"</h4>
                {% for answer in form.instance.answer_set.all %}
                  <div class="card">
                    {{ answer.title }} | {{ answer.votes }}
                  </div>
                    <p></p>
                {% endfor %}
            {% endif %}
            </div>
          {% if request.user.id == form.instance.author.id %}
            <div class="col-sm-2 offset-sm-5 edit-form">
              <h4> Edit your pool</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" class="btn btn-primary btn-sm" value="Update">
                </form>
            </div>

        {% endif %}

{% endblock %}
