{% extends 'base.html' %}

{% block title %} Main page {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-2">
      <h4 class="detail-header">Recent pools</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <ul>
        {% for question in object_list %}
            <li>
              <a href="{{ question.get_absolute_url }}">
                {{ question.title }}
                {% if request.user in question.members.all %}
                <span class="badge badge-default">Voted</span>
                {% endif %}
              </a>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>

{% endblock %}
