{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
          <div class="col-sm-5 offset-sm-5">
            <h4 class="detail-header">
              {{ question.title }}
              {% if not allow_vote %}
                <span class="badge badge-default">Voted</span>
              {% endif %}
            </h4>
          </div>
          <div class="row">
            {% for answer in question.answers.all %}
            <div class="col-sm-3 offset-sm-1">
              <div class="card">
                {% if answer.picture %}
                <img class="card-img-top" src="{{answer.picture.url }}" alt="img">
                {% else %}
                <img class="card-img-top" src="{% static 'images/no_picture.png' %}" alt="img">
                {% endif %}
                <div class="card-block">
                  <h4 class="card-title">{{answer.title}}</h4>
                  <p class="card-text"></p>
                  <div class="vote-group">
                  <span id="vote_{{answer.id}}" class="badge badge-default">Total {{ answer.votes }}</span>
                  {% if request.user.is_authenticated and allow_vote%}
                    <button type="button" data-answer={{ answer.id }} class="btn btn-primary btn-sm vote">Vote
                    </button>
                    {% endif %}
                  </div>

                </div>

              </div>
            </div>

            {% endfor %}
          {% if allow_edit %}
            <div class="col-sm-3 offset-sm-5 edit-form">
              <h4 class="detail-header"> Edit your pool</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p}}

                    <input type="submit" class="btn btn-default btn-sm" value="Update">
                </form>
            </div>

        {% endif %}

{% endblock %}
